<!-- Header -->
<header class="p-3 shadow-sm p-3 mb-5 bg-white">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a class="navbar-brand d-flex align-items-center gap-2" href="#" aria-label="Company Home">
                <img src="../favicon.svg" alt="Logo" width="40" height="40" class="d-inline-block">
            </a>
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0 ms-2">
                <li><a href="#" class="nav-link px-2 active" aria-current="page">Smart Render</a></li>
                <li><a href="#" class="nav-link px-2">Analyze</a></li>
            </ul>
            <div class="text-end">
                <span class="badge rounded-pill text-bg-secondary">v1.0.1</span>
            </div>
        </div>
    </div>
</header>

<!-- Component that allows you to enter projectXML -->
<div class="container">
    <div class="my-3 p-3 bg-body rounded shadow-sm user-select-none">
        <h6 class="border-bottom pb-2 mb-0 d-flex align-items-center justify-content-between">
            <span>Project XML</span>
            <button type="button" class="btn" (click)="open(content)" [class.btn-success]="isXmlValid"
                [class.btn-danger]="!isXmlValid">
                <i class="bi bi-code-square"></i>
                Preview
            </button>
        </h6>
        <div class="d-flex text-body-secondary pt-3">
            <div class="form-floating w-100">
                <textarea (input)="onInputChange($event)" class="form-control border-3"
                    [class.border-success]="isXmlValid" [class.border-danger]="!isXmlValid"
                    id="floatingTextarea"></textarea>
                <label for="floatingTextarea">Project XML</label>
            </div>
        </div>
    </div>
</div>


<div class="container d-flex justify-content-evenly">
    <app-key-phrases [phrases]="environmentKeyPhrases" title="Environment Effect Key Phrases"></app-key-phrases>
    <app-key-phrases [phrases]="backgroundKeyPhrases" title="Background Effect Key Phrases"></app-key-phrases>
</div>

<!-- Smart Render Button -->
<div class="container">
    <button type="button" class="btn btn-success w-100" (click)="smartRender()">Smart Render</button>
</div>

<div class="container">
    <div class="my-3 p-3 bg-body rounded shadow-sm user-select-none d-flex justify-content-center align-items-center border border-3 border-danger"
        style="min-height: 500px;">
        @if (!imageUrl) {
        <i class="bi bi-image" style="font-size: 3rem;"></i>
        <span>No Image</span>
        } @else {
        <img [src]="imageUrl" alt="Generated Image" />
        }
    </div>
</div>

<!-- Modal -->
<ng-template #content let-modal>
    <div class="modal-header user-select-none">
        <h4 class="modal-title">Project XML</h4>
        <button type="button" class="btn-close" (click)="modal.dismiss()"></button>
    </div>
    <div class="modal-body user-select-none" style="max-height: 500px; overflow-y: auto;">
        <pre>{{ formattedXml }}</pre>
    </div>
    <div class="modal-footer user-select-none">
        <button type="button" class="btn btn-secondary" (click)="modal.close()">Close</button>
    </div>
</ng-template>