<nav class="navbar navbar-expand-lg bg-body-tertiary border-bottom shadow-sm user-select-none"
    aria-label="Main navigation">
    <div class="container-fluid">
        <a class="navbar-brand d-flex align-items-center gap-2" href="#" aria-label="Company Home">
            <img src="../favicon.svg" alt="" width="40" height="40" class="d-inline-block">
        </a>
        <div class="ms-auto">
            <span class="badge rounded-pill text-bg-primary px-3">v1.0.0</span>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="my-3 p-3 bg-body rounded shadow-sm user-select-none">
        <h6 class="border-bottom pb-2 mb-0 d-flex align-items-center justify-content-between">
            <span>Project XML</span>
            <button type="button" class="btn btn-success" (click)="open(content)">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-code-square" viewBox="0 0 16 16">
                    <path
                        d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z">
                    </path>
                    <path
                        d="M6.854 4.646a.5.5 0 0 1 0 .708L4.207 8l2.647 2.646a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 0 1 .708 0m2.292 0a.5.5 0 0 0 0 .708L11.793 8l-2.647 2.646a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708 0">
                    </path>
                </svg>
                Preview
            </button>
        </h6>
        <div class="d-flex text-body-secondary pt-3">
            <div class="form-floating w-100">
                <textarea (input)="onInputChange($event)" class="form-control" placeholder="Leave a comment here"
                    id="floatingTextarea"></textarea>
                <label for="floatingTextarea">Project XML</label>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Project XML</h4>
    <button type="button" class="btn-close" (click)="modal.dismiss()"></button>
  </div>
  <div class="modal-body" style="max-height: 500px; overflow-y: auto;">
    <pre>{{ formattedXml }}</pre>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.close()">Close</button>
  </div>
</ng-template>